# build outputs
Backend/dist

# dependencies
Backend/node_modules

# environment file
Backend/.env
Backend/.env.local
Backend/.env.*.local

# logs
npm-debug.log*

# tests
Backend/coverage

# Frontend (when you create it)
Frontend/node_modules
Frontend/dist
Frontend/build
Frontend/.env
Frontend/.env.local
Frontend/.env.*.local